extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg" alt="About us image" class="img-fluid")
            .col-md-7
                h1= page
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt optio consectetur cumque quisquam earum debitis, laudantium commodi illo modi quia praesentium ut! Excepturi voluptatibus vel nihil cum, reiciendis consequatur esse.

                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident laudantium adipisci, magnam enim omnis maxime excepturi? Quas quaerat reiciendis ipsam aliquid nesciunt tempora aspernatur eos aliquam sapiente, esse dolorem amet!Eaque officia, porro obcaecati corrupti iste libero! Aperiam eos pariatur illo dignissimos harum, reprehenderit repudiandae numquam eveniet

                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident laudantium adipisci, magnam enim omnis maxime excepturi? Quas quaerat reiciendis ipsam aliquid nesciunt tempora aspernatur eos aliquam sapiente, 

    .listado-iconos 
        .container.mt-5.py-5.text-center    
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg" alt="Security icon" class="img-fluid mb-4")
                    h2.mb-4 Security
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ex saepe est sit alias, autem quasi quae nihil assumenda ipsa cumque laboriosam id hic, iure exercitationem et repellendus magni molestiae.

                .col-md-4
                    img(src="img/icono_destinos.svg" alt="Security icon" class="img-fluid mb-4")
                    h2.mb-4 Best Destinations
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ex saepe est sit alias, autem quasi quae nihil assumenda ipsa cumque laboriosam id hic, iure exercitationem et repellendus magni molestiae.

                .col-md-4
                    img(src="img/icono_precios.svg" alt="Security icon" class="img-fluid mb-4")
                    h2.mb-4 Best Prices
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ex saepe est sit alias, autem quasi quae nihil assumenda ipsa cumque laboriosam id hic, iure exercitationem et repellendus magni molestiae.

