.row.testimoniales
    each testimony in testim
        .col-md-6.col-lg-4.mb-4
            .card
                .card-body 
                    blockquote.blockquote 
                    p.mb-0
                        | #{testimony.mensaje}
                    footer.blockquote-footer
                        | #{testimony.nombre}